
<div class="">
    <div class="">
        <% if flash[:msg] %>
            <p><%= flash[:msg] %></p>
        <% end %>
    </div>

    <div class="">
        <h3>Submitted Info:</h3>
        <p>Name: <%= session[:name] %></p>
        <p>Dojo Location: <%= session[:location] %></p>
        <p>Favorite Language: <%= session[:language] %></p>
        <p>Comment: <%= session[:comment] %></p>
        <button type="button"><a href="/">Go Home</a></button>
    </div>
</div>